# Ignoruj katalog build-latex (wyniki kompilacji)
build-latex/

# Pliki tymczasowe LaTeX
*.aux
*.log
*.toc
*.out
*.bcf
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.run.xml

# Ewentualnie ignoruj PDF, jeśli nie chcesz go wersjonować
# *.pdf
